<!DOCTYPE html>
<html>
<head>
    <title>Scan Host</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CMDB</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/hostscan/">Scanhost</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Scan Host</h1>
            <form action="/hostscan/" method="post">
                {% csrf_token %}
                <input type="text" name="scanhosts"
                       width="800px"
                       placeholder="eg:172.25.254.0/24,192.168.0.0/24">
                <input type="submit" value="submit">
            </form>

            <br/>
            {% if servers %}
                <table class="table table-striped table-hover">
                    <tr>
                        <td>ID</td>
                        <td>IP</td>
                        <td>hostname</td>
                        <td>os_distribution</td>
                    </tr>
                    {% for server in servers %}
                        <tr>
                            <td>{{ server.id }}</td>
                            <td>{{ server.IP }}</td>
                            <td>{{ server.hostname }}</td>
                            <td>{{ server.os_distribution }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>